main>section {
    display: flex;
    flex-wrap: wrap;
}

main>section>article {
    border: solid 1px black;
    width: 30%;
    margin: 10px;
    padding: 1em;
    border-radius: 1em;
    min-height: 200px;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}